*{
    color: #ececec;
    font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #212121;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
}