.chats {
    /*max-width: 700px;*/
    width: 60%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 8rem;
}

@media (max-width:700px){
    .chats{
        width: 90%;
    }
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}