.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuicon {
    margin: .7rem;
    font-size: 1.8rem;
    width: 2rem;
    height: 2rem;
    display: none;
    border: none;
    background-color: #212121;
    position: absolute;
}

@media (max-width: 700px) {
    .sidebar {
        display: none;
    }

    .menuicon {
        display: block;
    }

    .sidebar.active {
        display: block;
    }

    .menuicon.active{
        position: relative;
    }
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.05);
}

.history {
    margin: 10px;
    padding: 10px;
    height: 70%;
    overflow-y: scroll;
}

.history::-webkit-scrollbar {
    width: 10px;
}

.history::-webkit-scrollbar-thumb {
    background: #363737;
    border-radius: 10px;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}